//Main: it should ONLY contain the imports for the SCSS files.

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'vendors/bootstrap';
@import 'vendors/jquery-ui';

@import 'base/base';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';
@import 'layout/layout';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/slider';
@import 'components/components';

@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';
