<footer class="page-footer" id="page-footer">
  <div class="clearfix">
    <div class="col-sm-12 no-padding">
      <div class="footer-container">
        <div class="row">
          <div class="col-sm-3 page-footer-container-child page-footer-companyInfo">
            <div class="link-boxes">
              <a title="Pepcus Software Services PVT. LTD.">
                <img src="assets/image/pepcus-logo.png" alt="Pepcus">
              </a>
              <p>
                15-FM, Sector-F, Ring Rd, Scheme 94, Indore, Madhya Pradesh 452016.
              </p>
              <div class="link-boxes">
                <span class="flex-v-align"><i class="las la-envelope"></i>&nbsp;&nbsp;<a class="info" href="mailto:info@pepcus.com">info@pepcus.com</a></span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 page-footer-container-child">
            <div class="link-boxes">
              <a title="Services-Pepcus" ng-click="fo.routeFooterReload();" href="/services">
                <h4>Main Links</h4>
              </a>
              <ul class="page-footer-ul">
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Home" href="index.html">Company</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Career" href="careers.html">Career</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Team" href="team.html">Team</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Contact" href="contact.html">Contact</a></li>
                <!--                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Dedicated Development Teams" href="/services/dedicated_development_teams">Dedicated Development Teams</a></li>-->
                <!--                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Web Design &amp; Development" href="/services/website_development">Web Design &amp; Development</a></li>-->
                <!--                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Start-Ups" href="/startup">Start-Ups</a></li>-->
              </ul>
            </div>
          </div>
          <div class="col-sm-6 page-footer-container-child-50">
            <div class="link-boxes">
              <a title="Technologies-Pepcus" ng-click="fo.routeFooterReload();" href="/technologies">
                <h4>Expertise</h4>
              </a>
              <ul class="page-footer-ul">
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Enterprise Software Development" href="enterprise-software-development.html">Enterprise Software Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="API Development" href="api-development.html">API Development </a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Custom Integrations" href="custom-integrations.html">Custom Integrations</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Microservices" href="microservices.html">Microservices </a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="QA & Test Automation" href="qa-and-test-automation.html">QA & Test Automation</a></li>
              </ul>
              <ul class="page-footer-ul">
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Mobile Development" href="mobile-development.html">Mobile Development </a></li>
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Legacy App Upgrades" href="legacy-app-upgrades.html">Legacy App Upgrades</a></li>-->
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Application Support & Maintenance" href="application-support-and-maintenance.html">Application Support & Maintenance</a></li>-->
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="DevOps & Cloud Services" href="devops-and-cloud-services.html">DevOps & Cloud Services </a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Technology Partnership" href="technology-partnership.html">Technology Partnership </a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Technology Spectrum" href="technology-spectrum.html">Technology Spectrum  </a></li>
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Software Development & Delivery Process" href="software-development-and-delivery-process.html">Software Development & Delivery Process </a></li>-->
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Wealth Management & Financial Planning" href="wealth-management-and-financial-planning.html">Wealth Management & Financial Planning </a></li>-->
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="HR Compliances & Online Training" href="hr-compliances-and-online-training.html">HR Compliances & Online Training</a></li>-->
                <!--<li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Partner Integrations" href="partner-integrations.html">Partner Integrations </a></li>-->
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12">

            <ul class="social-icon">
              <li><a href="https://www.linkedin.com/company/pepcus-software-services-pvt-ltd-/" target="_blank" alt="Pepcus-linkedIn" title="Pepcus-linkedIn"><i class="lab la-linkedin-in"></i></a></li>
              <li><a href="https://www.facebook.com/Pepcus-Software-Services-Private-Limited-449184531801853/" target="_blank" alt="Pepcus-facebook" title="Pepcus-facebook"><i class="lab la-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/Pepcus_Software" target="_blank" alt="Pepcus-twitter" title="Pepcus-twitter"><i class="lab la-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/?hl=en" target="_blank" alt="Pepcus-instagram" title="Pepcus-instagram"><i class="lab la-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCVIVt_71kI1nWOa7WHN0PhQ" target="_blank" alt="Pepcus-youtube" title="Pepcus-youtube"><i class="lab la-youtube"></i></a></li>
              <li>
                <a href="https://www.glassdoor.co.in/Overview/Working-at-Pepcus-EI_IE2032525.11,17.htm" alt="Pepcus-glassdoor" title="Pepcus-glassdoor">
                  <svg fill-rule="evenodd" viewBox="0 0 9.703723907470703 16.30040168762207"><path fill-rule="nonzero" d="M.002 1.596V14.8c0 .894.903 1.5 1.726 1.16l6.9-2.87a1.747 1.747 0 0 0 1.075-1.614V3.178l-1.59-.092v7.563c0 .56-.35 1.06-.873 1.25l-4.375 1.583V2.996c0-.627.543-1.114 1.163-1.044l5.676.64V1.556L1.814.083A1.533 1.533 0 0 0 .003 1.596"></path></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="copyright">
      Copyright ©2020 Pepcus Software Services PVT. LTD. All rights reserved.
    </div>
  </div>
</footer>
