<html lang="en" class="js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="We help customers to focus on their core business areas and let their IT needs be OUR RESPONSIBILITY.">
  <meta name="keywords" content="pepcus, customer software development, mobile app development, web development, web app development, java development, Angular Development, Software company, Best Team">
  <meta name="author" content="Pepcus Software Services">
  <meta name="application-name" content="">
  <meta property="og:site_name" content="Pepcus">
  <meta property="og:type" content="Website">
  <meta property="og:url" content="https://www.pepcus.com/">
  <meta property="og:title" content="Home">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pepcus</title>
  <link rel="canonical" href="https://www.pepcus.com/">
  <link rel="shortlink" href="https://www.pepcus.com/java">

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
  <link href="css/style.css" rel="stylesheet" >
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="mobileNavigation-bg"></div>
<div class="mobileNavigation-bg mobileNavigation-wrap">
  <div class="mobileNavigation-container" style="padding-top: 0px;">
    <div class="mfp-content">
      <div id="mobileNavigation" class="mobileNavigation">
        <ul class="mobileNavigationList">
          <li class="mobileNavigationList-item first"><a
                                                         class="mobileNavigationList-link mobileNavigationList-dropdown">Company</a>
            <div class="mobileNavigation__wrapper">
            <ul>
              <li class="first"><a href="/about">About</a></li>
              <li><a href="/about/history">History</a></li>
              <li><a href="/methodology">Methodology</a></li>
              <li><a href="/business-continuity">Business Continuity</a></li>
              <li><a href="/quality-management">Quality Management</a></li>
              <li><a href="/security-ipprotection">Security and IP Protection</a></li>
              <li class="last"><a href="/engagement-models">Engagement Models</a></li>
            </ul>
            </div>
          </li>
          <li class="mobileNavigationList-item"><a
                                                   class="mobileNavigationList-link mobileNavigationList-dropdown">Expertise</a>
            <div class="mobileNavigation__wrapper">
              <div class="navigationDropdown-title"><span class="nolink" tabindex="0">Business Solutions</span></div>
              <ul>
                <li class="first"><a href="/web-enterprise-portal-development">Web and Enterprise Portals</a></li>
                <li><a href="/services/intranet-development">Intranets</a></li>
                <li><a href="/services/enterprise-mobile-application-development">Enterprise Mobile Apps</a></li>
                <li><a href="/services/ecommerce-development">Ecommerce</a></li>
                <li><a href="/services/elearning-development">Elearning and Online Training</a></li>
                <li><a href="/social-networking-software">Social Networking</a></li>
                <li><a href="/media-content-distribution">Media Content Distribution</a></li>
                <li><a href="/business-process-automation">Business Process Automation</a></li>
                <li><a href="/business-intelligence">Business Intelligence</a></li>
                <li class="last"><a href="">Software
                  Security</a></li>
              </ul>
              <div class="navigationDropdown-title"><span class="nolink" tabindex="0">Development Stack</span></div>
              <ul>
                <li class="first"><a href="/salesforce">Salesforce</a></li>
                <li><a href="/sharepoint">SharePoint</a></li>
                <li><a href="/services/ai-consulting">Artificial Intelligence</a></li>
                <li><a href="/services/computer-vision-software">Computer Vision</a></li>
                <li><a href="/services/augmented-reality-development">Augmented Reality</a></li>
                <li><a href="/mobile-technologies">Mobile Platforms</a></li>
                <li><a href="/dotnet-development">.NET</a></li>
                <li><a href="/java-development">Java</a></li>
                <li><a href="/python-development">Python</a></li>
                <li><a href="/ruby-on-rails-development">Ruby on Rails</a></li>
                <li><a href="/php-development">PHP</a></li>
                <li class="last"><a href="/backend-development">Backend</a></li>
              </ul>
            </div>
          </li>
          <li class="mobileNavigationList-item"><a href="/services"
                                                   class="mobileNavigationList-link mobileNavigationList-dropdown">Services</a>
            <div class="mobileNavigation__wrapper">
            <ul>
              <li class="first"><a href="/services/enterprise-software-development">Enterprise Software Development</a>
              </li>
              <li><a href="/services/web-application-development">Web App Development</a></li>
              <li><a href="/services/mobile-application-development">Mobile App Development</a></li>
              <li><a href="/services/application-integration">Application Integration</a></li>
              <li><a href="/services/quality-assurance-testing">QA and Testing</a></li>
              <li class="last"><a href="/services/dedicated-development-team">Dedicated Development Teams</a></li>
            </ul>
            </div>
          </li>
          <li class="mobileNavigationList-item"><a href="/portfolio" class="mobileNavigationList-link">Portfolio</a>
          </li>
          <li class="mobileNavigationList-item"><a href=""
                                                   class="mobileNavigationList-link">Blog</a></li>
          <li
            class="mobileNavigationList-item mobileNavigationList-item--border mobileNavigationList-item--active last">
            <a href="/contact" class="mobileNavigationList-link active">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo">
          <a href="/" class="logo-link" title="Pepcus">
            <img src="assets/image/pepcus-logo.png">
          </a>
        </div>

        <nav class="navigation navigation_normal">
          <ul class="navigationList">
            <li class="expanded navigationList-item">
              <a class="navigationList-link" href="/company">Company</a>
              <ul class="navigationDropdown"><li class="first leaf navigationDropdown-item"><a href="/about" class="navigationDropdown-link">About</a></li>
                <li class="leaf navigationDropdown-item"><a href="/about/history" class="navigationDropdown-link">History</a></li>
                <li class="leaf navigationDropdown-item"><a href="/methodology" class="navigationDropdown-link">Methodology</a></li>
                <li class="leaf navigationDropdown-item"><a href="/business-continuity" class="navigationDropdown-link">Business Continuity</a></li>
                <li class="leaf navigationDropdown-item"><a href="/quality-management" class="navigationDropdown-link">Quality Management</a></li>
                <li class="leaf navigationDropdown-item"><a href="/security-ipprotection" class="navigationDropdown-link">Security and IP Protection</a></li>
                <li class="last leaf navigationDropdown-item"><a href="/engagement-models" class="navigationDropdown-link">Engagement Models</a></li>
              </ul>
            </li>
            <li class="expanded navigationList-item navigationList-item--big-menu">
              <a class="navigationList-link" href="/company">Expertise</a>
              <ul class="navigationDropdown navigationDropdown--big navigationDropdown--col-2">
                <div class="navigationDropdown__container"><div class="row navigationDropdown--row"><div class="col-sm-4 navigationDropdown--list-wrapper"><div class="navigationDropdown-title"><span class="nolink" tabindex="0">Business Solutions</span></div>
                  <ul class="navigationDropdown-list">
                    <li class="first leaf navigationDropdown-item"><a href="/web-enterprise-portal-development" class="navigationDropdown-link">Web and Enterprise Portals</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/intranet-development" class="navigationDropdown-link">Intranets</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/enterprise-mobile-application-development" class="navigationDropdown-link">Enterprise Mobile Apps</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/ecommerce-development" class="navigationDropdown-link">Ecommerce</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/elearning-development" class="navigationDropdown-link">Elearning and Online Training</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/social-networking-software" class="navigationDropdown-link">Social Networking</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/media-content-distribution" class="navigationDropdown-link">Media Content Distribution</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/business-process-automation" class="navigationDropdown-link">Business Process Automation</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/business-intelligence" class="navigationDropdown-link">Business Intelligence</a></li>
                    <li class="last leaf navigationDropdown-item"><a href="" class="navigationDropdown-link">Software Security</a></li>
                  </ul>
                </div>
                  <div class="col-sm-4 navigationDropdown--list-wrapper">
                    <div class="navigationDropdown-title"><span class="nolink" tabindex="0">Development Stack</span>
                    </div>
                  <ul class="navigationDropdown-list"><li class="first leaf navigationDropdown-item"><a href="/salesforce" class="navigationDropdown-link">Salesforce</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/sharepoint" class="navigationDropdown-link">SharePoint</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/ai-consulting" class="navigationDropdown-link">Artificial Intelligence</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/computer-vision-software" class="navigationDropdown-link">Computer Vision</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/services/augmented-reality-development" class="navigationDropdown-link">Augmented Reality</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/mobile-technologies" class="navigationDropdown-link">Mobile Platforms</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/dotnet-development" class="navigationDropdown-link">.NET</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/java-development" class="navigationDropdown-link">Java</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/python-development" class="navigationDropdown-link">Python</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/ruby-on-rails-development" class="navigationDropdown-link">Ruby on Rails</a></li>
                    <li class="leaf navigationDropdown-item"><a href="/php-development" class="navigationDropdown-link">PHP</a></li>
                    <li class="last leaf navigationDropdown-item"><a href="/backend-development" class="navigationDropdown-link">Backend</a></li>
                  </ul>
                  </div>
                  <div class="navigationDropdown--list-wrapper navigationDropdown--list-wrapper-post">
                   </div>
                </div>
                </div>
              </ul>
            </li>
            <li class="navigationList-item">
              <a class="navigationList-link" href="/career">Career</a>
            </li>
            <li class="navigationList-item">
              <a class="navigationList-link" href="/team">team</a>
            </li>
            <li class="navigationList-item navigationList-item--border">
              <a class="navigationList-link" href="/contact">Contact</a>
            </li>
          </ul>
          <a href="#mobileNavigation" class="smallMenu-icon">
            <span class="smallMenu-icon-item smallMenu-icon-item--1"></span>
            <span class="smallMenu-icon-item smallMenu-icon-item--2"></span>
            <span class="smallMenu-icon-item smallMenu-icon-item--3"></span></a>
        </nav>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="title-banner title-banner-big">
    <div class="title-bg kenburns-top"></div>
    <div class="container">
      <div class="row">
        <div class="title-banner-name">
          <h1>Do you struggle hiring technical talent locally?</h1>
          <p>Let’s expand your engineering team in India... </p>
          <p>It’s Quick, Simple & Highly Efficient </p>
        </div>
        <div class="button-container"><a href="" class="link" title="See How">See How</a></div>
      </div>
    </div>
  </section>
  <section id="" class="section">
    <div class="container">
      <div class="section-title">
        <h2>Benefits of an extended team in India</h2>
        <p>Let’s Hire your extended engineering team with us & you focus on your core business areas.</p>
      </div>
      <div>
        <section class="cards">
          <div class="container-fluid">
            <div class="row cards-row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="cards-item">
                  <div class="cards-icon icon-red">
                    <svg width="70pt" height="71pt" version="1.0" viewBox="0 0 337 331" xmlns="http://www.w3.org/2000/svg">
                      <metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata>
                      <g transform="translate(0 331) scale(.1 -.1)">
                        <path d="m1491 3219c-687-82-1244-610-1367-1294-24-134-25-413-1-540 61-330 207-613 436-843 211-213 470-356 777-428 111-26 134-28 334-29 169 0 234 4 305 18 630 128 1110 602 1247 1230 19 88 22 132 22 317 0 184-3 229-22 316-31 142-65 242-127 371-216 451-627 767-1122 863-127 25-358 34-482 19zm435-64c314-51 600-200 834-435 120-121 206-242 281-395 101-208 146-381 156-605 35-796-546-1481-1341-1580-130-17-350-7-481 20-555 117-1005 530-1160 1066-61 210-77 474-41 679 36 206 128 430 249 610 80 118 274 312 392 392 334 226 719 312 1111 248z"/>
                        <path d="m1565 3069c-254-15-527-116-737-274-291-219-489-542-554-905-21-118-21-349 1-475 99-582 533-1031 1118-1157 146-31 428-31 569 0 293 65 511 183 718 391 159 159 259 313 333 511 111 297 113 662 6 967-172 486-603 848-1104 927-124 19-209 23-350 15zm336-44c201-35 378-105 549-219 308-206 523-532 597-903 26-133 23-386-5-520-61-282-186-515-386-713-199-198-428-321-709-382-146-31-398-31-544 0-256 55-484 173-671 347-226 211-373 484-427 794-19 108-19 331 0 449 94 578 558 1044 1140 1146 108 19 351 20 456 1z"/>
                        <path d="m1601 2499c-133-23-252-117-314-246l-32-68-3-292c-2-161 0-293 4-293 5 0 836 454 852 466 2 1-1 32-6 68-20 128-85 233-185 297-97 63-206 86-316 68zm244-64c113-54 202-171 223-293l9-53-41-23c-43-25-694-384-734-405l-23-12 3 263c3 261 3 263 30 320 27 58 89 133 141 170 17 12 55 32 86 45 48 20 69 23 151 20 80-3 105-8 155-32z"/>
                        <path d="m1625 2439c-106-14-211-94-258-197-20-43-22-65-25-286l-3-238 48 26c26 15 177 100 335 189l288 162v42c0 70-36 148-95 208-78 77-177 110-290 94zm171-53c72-34 119-78 154-148 57-116 73-99-269-290-164-93-301-168-305-168s-6 91-4 203c3 190 5 205 27 247 67 126 150 179 281 179 48 1 78-5 116-23z"/>
                        <path d="m1675 1747-420-233-3-174c-2-151 0-184 17-240 51-168 198-284 377-297 219-17 413 133 453 351 12 68 16 826 4 825-5 0-197-105-428-232zm396-565c-41-269-319-425-555-314-91 43-149 100-193 190l-38 76v179 179l395 218 395 219 3-342c1-188-2-370-7-405z"/>
                        <path d="m1667 1641-329-186 4-140c3-127 6-145 29-195 47-98 121-158 228-186 161-41 333 49 391 202 19 51 20 77 20 374 0 176-3 320-7 319-5-1-156-85-336-188zm287-502c-51-114-162-184-288-182-122 2-245 97-281 217-9 31-15 90-15 155v106l303 170 302 170 3-288 2-289-26-59z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="cards-name">
                    <h4>zero liabilities</h4>
                  </div>
                  <div class="cards-text">
                    <p>A team with zero liabilities</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="cards-item">
                  <div class="cards-icon icon-red">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 480 480" version="1.1" viewBox="0 0 480 480" width="80px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
			<path d="m432 280h-56v-272c0-4.418-3.582-8-8-8h-256c-4.418 0-8 3.582-8 8v272h-56c-2.181 0-4.268 0.89-5.777 2.465-3.057 3.19-2.949 8.254 0.241 11.311l192 184c1.49 1.427 3.473 2.224 5.536 2.224s4.047-0.797 5.536-2.224l192-184c1.575-1.509 2.465-3.596 2.465-5.777-1e-3 -4.418-3.583-7.999-8.001-7.999zm-192 180.92-172.1-164.92h44.096c4.418 0 8-3.582 8-8v-272h240v272c0 4.418 3.582 8 8 8h44.096l-172.1 164.92z"/>
                      <path d="m240 120c17.673 0 32 14.327 32 32h16c-0.043-23.397-16.934-43.361-40-47.28v-16.72h-16v16.72c-26.112 4.572-43.575 29.446-39.003 55.559 4.003 22.863 23.792 39.587 47.003 39.721 17.673 0 32 14.327 32 32s-14.327 32-32 32-32-14.327-32-32h-16c0.043 23.397 16.934 43.361 40 47.28v16.72h16v-16.72c26.112-4.572 43.575-29.446 39.003-55.559-4.003-22.863-23.792-39.587-47.003-39.721-17.673 0-32-14.327-32-32s14.327-32 32-32z"/>
                      <rect x="136" y="32" width="16" height="16"/>
                      <rect x="168" y="32" width="16" height="16"/>
                      <rect x="200" y="32" width="16" height="16"/>
                      <rect x="232" y="32" width="16" height="16"/>
                      <rect x="264" y="32" width="16" height="16"/>
                      <rect x="296" y="32" width="16" height="16"/>
                      <rect x="328" y="32" width="16" height="16"/>
</svg>

                  </div>
                  <div class="cards-name">
                    <h4>low cost</h4>
                  </div>
                  <div class="cards-text">
                    <p>Economy of scale at low cost location</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="cards-item">
                  <div class="cards-icon icon-red">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 20010904//EN'  'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'>
                    <svg width="80pt" height="80pt" version="1.0" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
                      <metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata>
                      <g transform="translate(0 80) scale(.1 -.1)">
                        <path d="m660 774c-131-28-211-85-357-256-32-37-34-38-105-38l-73-1-44-55c-50-62-48-69 22-87l46-12-19-44c-28-62-25-76 25-126s64-53 126-25l44 19 12-46c18-70 25-72 87-22l55 44 1 75v75l54 44c93 74 175 166 202 228 27 60 54 167 54 216 0 24-3 27-32 26-18 0-62-7-98-15zm77-78c-10-68-45-152-87-205-41-51-332-301-352-301-14 0-108 94-108 108 0 7 56 79 125 161 120 143 180 203 235 231 39 21 132 49 164 49 28 1 29 0 23-43z"/>
                        <path d="m503 620c-48-19-58-95-18-135 46-47 127-26 140 36 17 75-49 128-122 99z"/>
                        <path d="m61 171c-44-24-60-55-61-118v-53h50c64 0 101 19 125 64 18 33 18 37 3 52-16 16-18 15-39-20-31-53-99-77-99-35 0 32 16 55 56 78 30 18 34 24 24 36-15 18-17 18-59-4z"/>
                      </g>
                    </svg>


                  </div>clientSlider-item
                  <div class="cards-name">
                    <h4>Development</h4>
                  </div>
                  <div class="cards-text">
                    <p>Rapid Development for time to market</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section id="" class="section section-dark">
    <div class="container">
      <div class="section-title">
        <h2>You get an expert team who is</h2>
        <p>It’s Quick and Simple!</p>
      </div>
    </div>
  </section>
  <section id="" class="section process-section">
    <div class="container">
      <div class="section-title">
        <h2>Short & Simple Process of engagement</h2>
        <p>It’s Quick and Simple!</p>
      </div>
    </div>
  </section>
  <section id="" class="section section-dark client-list">
    <div class="container">
      <div class="section-title">
        <h2>Clients already extended a team with us </h2>
      </div>
      <div>
        <div id="clients" class="owl-carousel owl-theme">
          <div class="clientSlider-item">
            <a href="" title="Think HR"><img src="assets/image/clients/thinkHR.png"></a>
          </div>
          <div class="clientSlider-item">
          <a href="" title="Mammoth HR"><img src="assets/image/clients/mammothHR.png"></a>
          </div>
          <div class="clientSlider-item">
          <a href="" title="Advisor software"><img src="assets/image/clients/asi.png"></a>
          </div>
          <div class="clientSlider-item">
            <a href="" title="Covetus"><img src="assets/image/clients/covetus.png"></a>
          </div>
          <div class="clientSlider-item">
            <a href="" title="Mincron"><img src="assets/image/clients/mincron.png"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section testimonial-section">
    <!-- TESTIMONIALS -->
    <section class="testimonials">
      <div class="container">
        <div class="section-title">
          <h2>Our clients speak for us...</h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div id="customers-testimonials" class="owl-carousel">

              <!--TESTIMONIAL 1 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="testimonial-name">Lorem Ipsum</div>
              </div>
              <!--END OF TESTIMONIAL 1 -->
              <!--TESTIMONIAL 2 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="testimonial-name">Lorem Ipsum</div>
              </div>
              <!--END OF TESTIMONIAL 2 -->
              <!--TESTIMONIAL 3 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="testimonial-name">Lorem Ipsum</div>
              </div>
              <!--END OF TESTIMONIAL 3 -->
              <!--TESTIMONIAL 4 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="testimonial-name">Lorem Ipsum</div>
              </div>
              <!--END OF TESTIMONIAL 4 -->
              <!--TESTIMONIAL 5 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="testimonial-name">Lorem Ipsum</div>
              </div>
              <!--END OF TESTIMONIAL 5 -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END OF TESTIMONIALS -->
  </section>
  <section id="smaller-contact-form" class="contactForm contactForm--small">
    <div class="container">
      <div class="section-title">
        <h2>Need engineers?</h2>
        <p>It’s Quick and Simple!</p>
      </div>
      <div class="contactForm-body">
        <form>
          <div class="row form-wrapper">
            <input type="input" class="form_input" placeholder="Email*" name="name" id='name' required />
            <label for="name" class="form_label">Email*</label>
          </div>
          <div class="row form-wrapper">
            <textarea id="message" type="text" class="form_input with-placeholder" name="message" placeholder="Hi, I would like to build a web app & require 2 full stack engineers with Java/React experience.  "></textarea>
            <label for="name" class="form_label">Project Description</label>
          </div>
          <div class="row form-wrapper">
            <div class="button-container">
              <input class="form-button" type="submit" value="Submit">
            </div>
            <div class="small-description">After submitting this form. One of our sales representatives will contact You ASAP.</div>
          </div>
        </form>
      </div>
    </div>
  </section>

</main>
<footer class="page-footer" id="page-footer">
  <div class="row">
    <div class="col-sm-12 no-padding">
      <div class="footer-container">
        <div class="row">
          <div class="col-sm-3 page-footer-container-child page-footer-companyInfo">
            <div class="link-boxes">
              <a title="About-Pepcus" href="/about"><h4>About Pepcus</h4></a>
              <a title="Pepcus Software Services PVT. LTD.">
                <img src="assets/image/pepcus-logo.png" alt="Pepcus">
              </a>
              <p>
                Pepcus is a software design and development company.
              </p>
            </div>
          </div>
          <div class="col-sm-3 page-footer-container-child">
            <div class="link-boxes">
              <a title="Services-Pepcus" ng-click="fo.routeFooterReload();" href="/services">
                <h4>Services</h4>
              </a>
              <ul class="page-footer-ul">
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Web Development" href="/services/web_development">Web Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Mobile App Development" href="/services/mobile_app_development">Mobile App Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Custom Software Development" href="/services/custom_software_development">Custom Software Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Software Product Development" href="/services/software_product_development">Software Product Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="UXD &amp; Prototyping" href="/services/software_prototyping_and_uxd">Software Prototyping and UXD</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Dedicated Development Teams" href="/services/dedicated_development_teams">Dedicated Development Teams</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Web Design &amp; Development" href="/services/website_development">Web Design &amp; Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeFooterReload();" title="Start-Ups" href="/startup">Start-Ups</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 page-footer-container-child">
            <div class="link-boxes">
              <a title="Technologies-Pepcus" ng-click="fo.routeFooterReload();" href="/technologies">
                <h4>Technologies</h4>
              </a>
              <ul class="page-footer-ul">
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title=".NET Development" href="/technologies/dotnet_development">.NET Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Frontend Development" href="/technologies/frontend_development">Frontend Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Backend Development" href="/technologies/backend_development">Backend Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Cloud Development" href="/technologies/cloud_development">Cloud Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Angular Development" href="/technologies/angular_development">Angular Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Xamarin Development" href="/technologies/xamarin_development">Xamarin Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="iOS Development" href="/technologies/iOS_development">iOS Development</a></li>
                <li><a data-target=".navbar-toggle collapsed" ng-click="fo.routeReload();" title="Android Development" href="/technologies/android_development">Android Development</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 page-footer-container-child">
            <div class="link-boxes">
              <a title="Contact-Pepcus" ng-click="fo.routeFooterReload();" href="/contact">
                <h4>Keep in Touch</h4>
              </a>
              <span class="flex-v-align"><i class="las la-envelope"></i>&nbsp;&nbsp;<a class="info" href="mailto:sales@pepcus.com">sales@pepcus.com</a></span>
            </div>

          </div>
          <div class="col-sm-12 col-xs-12">

            <ul class="social-icon">
              <li><a href="https://www.linkedin.com/company/pepcus-software-services-pvt-ltd-/" target="_blank" alt="Pepcus-linkedIn" title="Pepcus-linkedIn"><i class="lab la-linkedin-in"></i></a></li>
              <li><a href="https://www.facebook.com/Pepcus-Software-Services-Private-Limited-449184531801853/" target="_blank" alt="Pepcus-facebook" title="Pepcus-facebook"><i class="lab la-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/Pepcus_Software" target="_blank" alt="Pepcus-twitter" title="Pepcus-twitter"><i class="lab la-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/?hl=en" target="_blank" alt="Pepcus-instagram" title="Pepcus-instagram"><i class="lab la-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCVIVt_71kI1nWOa7WHN0PhQ" target="_blank" alt="Pepcus-youtube" title="Pepcus-youtube"><i class="lab la-youtube"></i></a></li>
              <li>
                <a href="https://www.glassdoor.co.in/Overview/Working-at-Pepcus-EI_IE2032525.11,17.htm" alt="Pepcus-glassdoor" title="Pepcus-glassdoor">
                  <svg fill-rule="evenodd" viewBox="0 0 9.703723907470703 16.30040168762207"><path fill-rule="nonzero" d="M.002 1.596V14.8c0 .894.903 1.5 1.726 1.16l6.9-2.87a1.747 1.747 0 0 0 1.075-1.614V3.178l-1.59-.092v7.563c0 .56-.35 1.06-.873 1.25l-4.375 1.583V2.996c0-.627.543-1.114 1.163-1.044l5.676.64V1.556L1.814.083A1.533 1.533 0 0 0 .003 1.596"></path></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="copyright">
      Copyright ©2020 Pepcus Software Services PVT. LTD. All rights reserved.
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="js/script.js"></script>
</body>
</html>
