//Base: contained within this file are all your resets, variables, mixins, and any utility classes.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.57894737;
  color: #232323;
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  @media (max-width: 767px){
    font-size: 14px;
  }
}

html {width: 100%}

a:hover,
a:link {
  text-decoration: none;
}

::selection {
  background: #ff0000;
  color: #fff;
  text-shadow: none;
}

.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after, .row:before {
  content: " ";
  display: table;
}

.no-scroll {
  overflow: hidden;
}


.no-padding {
  padding: 0 !important;
}

.flex {
  display: flex;
}

.flex-v-align  {
  display: flex;
  align-items: center;
}

.flex-h-align  {
  display: flex;
  justify-content: center;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-dark {
  background: #f2f2f2;
}

.section-light {
  background-color: #f7f7f7;
  color: #000;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}


.color-1 {
  color: #c74c31;
}
.color-2 {
  color: #4596ab;
}
.color-3 {
  color: #4f79ce;
}
.color-4 {
  color: #51c336;
}
