.enterprise-software-page {
  .enterprise-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url('../assets/image/enterprise-software-development/enterprise-software-development.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
  .expertise-to-build {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/image/enterprise-software-development/enterprise-to-build.jpg');
    background-position: center center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }
}

.performance-container {
  .performance-wrapper__content {
    width: 100%;
    max-width: 430px;
    margin-left: 0;
    margin-right: auto;

    .performance-wrapper__content-title {
      margin-bottom: 35px;
      span {
        display: block;
      }
      h2 {
        font-size: 36px;
        line-height: 130%!important;
        transition: all .3s ease-in-out;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          font-size: 32px;
        }
      }
      p {
        margin: 0px 0px 15px 0px;
      }
    }
    .performance-wrapper__image-container {
      position: relative;
      line-height: 0;
      top: 50px;
      left: 80px;
      @media (max-width: 767px) {
        left: 0;
      }
      .performance-wrapper__image-one {
        border-radius: 10px;
        position: absolute;
        overflow: hidden;
        display: inline-block;
        z-index: 1;
        max-width: 100%;
        left: -50px;
        top: -20px;
        height: 400px;
        filter: blur(8px);
        @media (max-width: 767px) {
          height: 250px;
          top:-10px;
          left: -10px;
        }
        img {
          margin-bottom: 0;
          margin: 0 0 1.5em;
          max-width: 100%;
          min-height: 1px;
          height: auto;
        }
      }
      .performance-wrapper__image-two {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        z-index: 1;
        max-width: 100%;
        left: 40px;
        top: 40px;
        height: 400px;
        @media (max-width: 767px) {
          height: 250px;
          top:10px;
          left: 10px;
        }
        img {
          margin-bottom: 0;
          margin: 0 0 1.5em;
          max-width: 100%;
          min-height: 1px;
          height: auto;
        }
      }
    }
  }
}

.progress-container {
  margin-top: 35px;
  .progress-container__item {
    margin-bottom: 30px;
    .progress-title {
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .progress-size {
      text-align: right;
      font-weight: 700;
      font-weight: 700;
      text-transform: capitalize;
    }
    .progress-container__content {
      position: relative;
      .progress-container__status {
        background-color: #e5e5e5;
        height: 1px;
        .progress-container__status-value {
          background-color: $brandColor;
          height: 5px;
          top: -2.5px;
          width: 0;
          position: relative;
          overflow: visible!important;
          margin-top: 12px;
          border-radius: 4px;
          box-shadow: 0 10px 40px -10px #fff;
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
}


.esd-performance-tools__section {
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  .container {
    max-width: 800px;
  }
  .small-slider-item {
    a {
      background: #ececec;
      box-shadow: 1px 1px 2px rgba(0,0,0,.3);
      padding: 10px;
      height: 170px;
      line-height: 130px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

[data-aos="new-animation"] {
  &.aos-animate {
    animation: progress-dummy 3s normal forwards;
  }
  @media screen and (min-width: 768px) {
    &.aos-animate {
      animation: progress-dummy 3s normal forwards;
    }
  }
}

@keyframes progress-dummy {
  0% { width: 0; }
  100% { width: 100%; }
}

.esd-fullcycle-section {
  margin-top: 0;
  text-align: left;
  .esd-timeline {
    margin-top: 50px;
    padding-left: 10px;
    @media only screen and (min-width: 767px) {
      padding-left: 0;
    }
    .esd-timeline-block {
      position: relative;
      padding-left: 4rem;
      text-align: left;
      padding-top: 0;
      padding-bottom: 4rem;
      &:after {
        content: ' ';
        position: absolute;
        left: 26px;
        margin-left: 0;
        width: 4px;
        border-radius: 4px;
        background-color: #c9d0d8;
        top: calc(50px + 1rem);
        bottom: 1rem;
        @media only screen and (min-width: 767px) {
          left: 50%;
          margin-left: -2px;
          top: calc(50% + (25px + 1rem));
          bottom: -1rem;
        }
      }
      &:before {
        content: ' ';
        position: absolute;
        left: 26px;
        margin-left: 0;
        width: 4px;
        border-radius: 4px;
        background-color: #c9d0d8;
        top: -1rem;
        bottom: calc(50% + (25px + 1rem));
        display: none;
        @media(min-width: 768px) {
          display: block;
          left: 50%;
          margin-left: -2px;
        }
      }
      &:first-child {
        &:before {
          content:none;
        }
        @media only screen and (min-width: 767px) {
          margin-top: -2rem;
        }
      }
      &:last-child {
        &:after {
          content:none;
        }
        @media only screen and (min-width: 767px) {
          margin-bottom: 0;
        }
      }
      @media only screen and (min-width: 767px) {
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:nth-child(even) {
          .esd-timeline-content {
            float: right;
          }
        }
      }
      h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
        @media only screen and (min-width: 767px) {
          font-size: 20px;
          font-size: 1.25rem;
        }
      }
      p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.6;
        @media only screen and (min-width: 768px) {
          font-size: 15px;
          font-size: 1rem;
        }
      }
      .esd-timeline-content__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        @media only screen and (min-width: 767px) {
          padding-left: 6rem;
          padding-right: 6rem;
          &:nth-child(1) {
            margin-bottom: 0;
          }
        }
        img {
          width: 100%;
          height: auto;
          max-width: 445px;
          border-radius: 10px;
          @media (max-width: 767px) {
            max-width: 300px;
          }
        }
        &.col-right-img {
          @media (max-width: 767px) {
            order: 2;
          }
        }
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.step-number {
  position: absolute;
  top: 10px;
  left: .8rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  border-radius: 100%;
  background: linear-gradient(45deg, #c31212 0%, #ff0000 100%);
  @media (min-width: 768px) {
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.8rem;
  }
  &:before {
    border-radius: 100%;
    content: ' ';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    opacity: 0.25;
    z-index: -1;
    background: linear-gradient(45deg, #c31212 0%, #ff0000 100%);
    @media (min-width: 768px) {
      width: 60px;
      height: 60px;
      top: -10px;
      left: -10px;
    }
  }
}

