

.legacy-app-page {
  .legacy-app-title-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../assets/image/legacy-app/legacy-app.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: center center;
  }
}

.mobile-development-page {
  .mobile-development-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.2)
            ),
            url('../assets/image/mobile-development/mobile-development-banner.jpeg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
  #mobile-expertise-carousel {
    margin-top: 50px;
  }
  .section-cross-native {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../assets/image/mobile-development/mobile-development-banner.jpeg');
    background-repeat: repeat;
    .tab-cross {
      position: absolute;
      width: 300px;
      left: -70px;
      margin-top: 40px;
      @media(max-width: 992px) {
        display: none;
      }
    }
    .mobile-native {
      position: absolute;
      width: 300px;
      right: -70px;
      @media(max-width: 992px) {
        display: none;
      }
      .row {
        display: flex;
        @media(max-width: 768px) {
          display: block;
        }
      }
    }
    .center-image {
      img {
        width: 200px;
        @media (max-width: 992px) {
          width: 130px;
          margin-top: 120px;
        }
        @media (max-width: 768px) {
          width: 200px;
          margin-top: 0;
        }
      }
      @media(max-width: 768px) {
        display: flex;
        margin: 0 auto;
        justify-content: center;

      }
    }
    @media (max-width: 992px) {
      .container {
        width: 95%;
      }
    }
  }
}



.cloud-infrastructure-page {
  .cloud-infrastructure-title-bg {
  //  background:
  //          linear-gradient(
  //                          rgba(0, 0, 0, 0.75),
  //                          rgba(0, 0, 0, 0.75)
  //          ),
  //          url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.partner-integrations-page {
  .partner-integrations-title-bg {
    //background:
    //        linear-gradient(
    //                        rgba(0, 0, 0, 0.75),
    //                        rgba(0, 0, 0, 0.75)
    //        ),
    //        url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
  .partner-integration-half {
    //background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url();
    background-position: center center;
    color: #fff;
    min-height: 500px;
    top: 0;
  }
  .partner-integration-half-detail {
    background: #f2f2f2;
    min-height: 500px;
    padding: 50px;
    display: flex;
    align-items: center;
    h2 {
      font-weight: 300;
      text-transform: uppercase;
      color: #ff0000;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    ul {
      li {
        list-style: none;
        padding-left: 47px;
        position: relative;
        margin-bottom: 14px;
        font-size: 16px;
        &:after {
          content: "\f00c";
          font-family: 'Line Awesome Free';
          font-weight: bold;
          font-size: 22px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          color: red;
        }
        &:before {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
}

.hr-compliances-page {
  .hr-compliances-title-bg {
    //background:
    //        linear-gradient(
    //                        rgba(0, 0, 0, 0.75),
    //                        rgba(0, 0, 0, 0.75)
    //        ),
    //        url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.wealth-management-page {
  .wealth-management-title-bg {
    //background:
    //        linear-gradient(
    //                        rgba(0, 0, 0, 0.75),
    //                        rgba(0, 0, 0, 0.75)
    //        ),
    //        url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.technology-partnership-page {
  .technology-partnership-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url('../assets/image/technology-partnership/technology-partnership-banner.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.software-development-page {
  .software-development-title-bg {
    //background:
    //        linear-gradient(
    //                        rgba(0, 0, 0, 0.75),
    //                        rgba(0, 0, 0, 0.75)
    //        ),
    //        url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.dev-and-cloud-page {
  .dev-and-cloud-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url('../assets/image/dev-cloud/dev-cloud-banner.jpeg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
  .compare-section {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0)), url('../assets/image/dev-cloud/dev-cloud-dev&cloud-bg.jpg');
    background-position: center center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
}

.support-and-maintenance-page {
  .support-and-maintenance-title-bg {
    //background:
    //        linear-gradient(
    //                        rgba(0, 0, 0, 0.3),
    //                        rgba(0, 0, 0, 0.3)
    //        ),
    //        url();
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}
