.api-development-page {
  .api-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/374879/pexels-photo-374879.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
}

.enterprise-software-page {
  .enterprise-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/256297/pexels-photo-256297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
  .expertise-to-build {
    background:
            linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
    url(https://images.pexels.com/photos/2855294/pexels-photo-2855294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    color: #fff;
  }
}

.custom-integrations-page {
  .custom-integrations-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/2448452/pexels-photo-2448452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
}

.microservices-page {
  .microservices-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
}

.legacy-app-page {
  .legacy-app-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/3779201/pexels-photo-3779201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
}

.mobile-development-page {
  .mobile-development-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.2)
            ),
            url(https://images.pexels.com/photos/41951/solar-system-emergence-spitzer-telescope-telescope-41951.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
  }
  #mobile-expertise-carousel {
    margin-top: 50px;
  }
  .section-cross-native {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: repeat;
    .tab-cross {
      position: absolute;
      width: 300px;
      left: -70px;
      margin-top: 40px;
      @media(max-width: 992px) {
        display: none;
      }
    }
    .mobile-native {
      position: absolute;
      width: 300px;
      right: -70px;
      @media(max-width: 992px) {
        display: none;
      }
      .row {
        display: flex;
        @media(max-width: 768px) {
          display: block;
        }
      }
    }
    .center-image {
      img {
        width: 200px;
        @media (max-width: 992px) {
          width: 130px;
          margin-top: 120px;
        }
        @media (max-width: 768px) {
          width: 200px;
          margin-top: 0;
        }
      }
      @media(max-width: 768px) {
        display: flex;
        margin: 0 auto;
        justify-content: center;

      }
    }
    @media (max-width: 992px) {
      .container {
        width: 95%;
      }
    }
  }
}

.qa-test-page {
  .qa-test-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/94651/pexels-photo-94651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}

.cloud-infrastructure-page {
  .cloud-infrastructure-title-bg {
    background:
            linear-gradient(
                            rgba(0, 0, 0, 0.75),
                            rgba(0, 0, 0, 0.75)
            ),
            url(https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-position: left;
  }
}





