.header-banner {
  padding-top: 100px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 90vh;
  .header-banner__title-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://cdn.pixabay.com/photo/2016/09/24/04/35/texture-1691037_1280.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    @media(max-width: 767px) {
      background-position: right center;
    }
  }
  .header-banner__content {
    font-size: 20px;
    max-width: 100%;
    margin: 55px 0 0;
    text-align: center;
    line-height: 1.3 !important;
    color: #fff;
    z-index: 1000;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .header-banner__content-title-desktop {
      font-size: 28px;
      text-align: center;
      line-height: 38px !important;
      font-weight: 500 !important;
      color: #ffffff;
      min-height: 300px;
      padding-top: 80px;
      padding-bottom: 50px;
      width: 100%;
      @media (max-width: 767px) {
        display: none;
      }
    }
  .header-banner__content-title-mobile {
    font-size: 26px;
    max-width: 100%;
    margin: 55px 20px 0;
    text-align: center;
    line-height: 1.3 !important;
    color: #fff;
    z-index: 1000;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: none;
    text-align: center;
    > div {
      margin-bottom: 20px;
      line-height: 32px;
    }
    @media (max-width: 767px) {
      display: block;
    }
  }
}
.header-banner__bullet-section {
  margin-top: -50px !important;
  padding-bottom: 0px !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  position: relative;
  overflow: hidden !important;
  box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.25);
  height: 100px;
  margin: 0 auto;
  max-width: 900px;
  z-index: 1000;
  @media (max-width: 767px) {
    width: 90%;
  }
  .header-banner__bullet-section__col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $brandColor;
  }
}

.client-list {
  background: url(../assets/image/red-graph.PNG);
  color: #fff;
  .clientSlider-item {
    width: 160px;
    margin: 0 auto;
    a {
      position: relative;
      vertical-align: top;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      line-height: 85px;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }
  }
  .owl-dots {
    .owl-dot.active {
      background: #ffffff !important;
    }
    .owl-dot {
      border: 2px solid #ffffff !important;
    }
  }
}

.expert-team-section  {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  box-shadow: 0 0 black;
  min-height: 600px;
  background-size: cover;
  background-position: center;
}

.section.expert-team-section {
  color: #fff;
}

.contact-form-small {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #234;
  text-align: center;
  &.contact-form-small--bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(https://images.pexels.com/photos/207489/pexels-photo-207489.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    color: #fff;
  }
  .contact-form-small--body {
    background: #fff;
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    @media (max-width: 767px) {
      padding: 20px;
    }
    h2 {
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }
    .button-container {
      margin-bottom: 10px;
      margin-top: 0;
      &:focus {
        border: transparent;
        outline: none;
      }
    }
    .email-missing {
      display: none;
      font-size: 12px;
      line-height: 30px;
      color: red;
    }
    .message-missing {
      display: none;
      font-size: 12px;
      line-height: 30px;
      color: red;
    }
  }
}

.process-section {
  background: #ffffff;
  background-image: url(https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  @media(max-width: 768px) {
    background-size: cover;
    background-position:left;
  }
}

//---------------------------------- testimonial-section-start ---------------------------------

.testimonial-section {
  position: relative;
  overflow: hidden;
  background: url(https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: bottom;
  .section-title {
    position: relative;
    h2 {
      z-index: 20;
    }
    .testimonial__quote-icon {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 0;
      svg {
        width: 150px;
        fill: #d9d6d6;
        @media(max-width: 767px) {
          width: 80px;
        }
      }
    }
  }
  article {
    margin: 20px auto;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    color:#FFC345;
    .testimonial {
      padding: 30px;
      .quote {
        background: #ffffff;
        padding: 15px 20px 5px 15px;
        border-radius: 5px;
        margin-bottom: 30px;
        width: 60%;
        margin: 0 auto;
        color: #5f5e5e;
        box-shadow: 20px 10px 5px 3px rgba(0, 0, 0, 0.25), -5px 2px 30px 7px rgba(0, 0, 0, 0.22);
        @media (max-width: 768px) {
          width: 90%;
        }
        &:after {
          content: '';
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 20px 18px 0 18px;
          border-color: #ffffff transparent transparent transparent;
          position: relative;
          top: 37px;
          left: 20px;
        }
        p {
          font-size: 15px;
        }
      }
      .student {
        margin-left: 25px;
        margin-bottom: 80px;
        width: 60%;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 25px;
        .photo {
          background-color: #ccc;
          border-radius: 100px;
          width: 60px;
          height: 60px;
          float: left;
          margin-right: 10px;
          img {
            border-radius: 100%;
          }
        }
        p {
          position: relative;
          top: 5px;
          text-transform: uppercase;
          &:nth-child(2) {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            color: #f00;
          }
          &:nth-child(3) {
            font-size: 14px;
            color: #777;
          }
        }
        @media(max-width: 768px) {
          width: 90%;
        }
      }
      video {
        margin: 0 auto;
        display: flex;
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
    .owl-dots {
      .owl-dot.active {
        span {
          background: #ff0000;
          transform: translate3d(0px, -50%, 0px) scale(0.7);
        }
      }
      .owl-dot {
        &:focus {
          outline: none;
        }
        &:hover {
          span {
            background: #ff0000;
            transform: translate3d(0px, -50%, 0px) scale(0.7);
          }
        }
        display: inline-block;
        span {
          background: #ff0000;
          display: inline-block;
          height: 20px;
          margin: 0 2px 5px;
          transform: translate3d(0px, -50%, 0px) scale(0.3);
          transform-origin: 50% 50% 0;
          transition: all 250ms ease-out 0s;
          width: 20px;
          border-radius: 100%;
        }
      }
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}

//---------------------------------- testimonial-section-end ---------------------------------

canvas {
  display: block;
  vertical-align: bottom;
}

/* particles container */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1000;
  top: 0;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}




